html{
	height:100%;
	box-sizing:border-box;
}
*,
*:before,
*:after{
list-style-type:none;
}
body{
	position:relative;
	background: #DCDCDC;
	font-size:100%;
	font-family:verdana;
	margin:0em;
	padding:0em;
	min-height:100%;
	padding-bottom: 1em;
}
h2{
	font-size:1.563em;
	line-height:1.8em;
	font-weight:100;
	color:#2F2D2C;
	margin:0;
	padding:1.25em;
	text-align:left;
}
h3{
	margin:0;
	padding:1em 0.78em 1em 0.78em;
	font-weight:100;
}
img{
	width:80%;
	height:auto;
	max-width:100%
}
header img{
	height:5em;
	width:auto;
	margin:0em;
}
ul{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
/*on top bar*/
#menubar{
	display:block;
	background:#ffffff;
}
#menubar ul{
	display:block;
	width:2em;
	padding:0.9em;
}
#menubar ul li{
	display:inline;
}
#menubar ul li a.menubutton{
	display:none;
}
header{
	display:block;
	background:#3e5387; 
	padding:1em;
	text-align:center;
}
/*#dbd7d0, #2F2C2C*/
nav{
	display:block;
	height:2.5em;
	background:#FFFFFF;
	text-align:center;
}
nav ul{
	display:block;
}
nav ul li{
	display:inline;
	margin: 0em 0.188em 0em 0.188em;
}
nav ul li a{
	color:#454040;
	font-size:1.125em;
	line-height:2.5em;
	padding: 0.563em 0.938em 0.375em 0.983em;
	transition:background 0.2s;
	 -webkit-transition:background 0.2s;
	 
}
nav ul li a:hover{
	background:#D8D9D8;
	border-bottom: 0.188em solid #E7590B;
}
nav ul li a.active{
	border-bottom: 0.188em solid #E7590B;
}	
#main{
	display:block;
	width:96%;
	max-width:980px;
	margin:1.25em auto;
	padding:0em;
}
#main article{
	display:inline-block;
	width:65.3%;
	background:#FFFFFF;
	vertical-align:top;
	margin:0em;
	padding:0em;
	text-align:center;
	border-bottom:0.188em solid #e7590B;
}
#main article img{
	max-width:560px;
	box-shadow:0px 0px 10px -5px #4c4948;
	border-radius:5px;
	margin-top:1.35em;
	margin-bottom:1.35em;
}
p{
	line-height:1.25em;
	font-weight:100;
	color:#2f2d2c;
	margin:0em;
	padding:1.25em;
	text-align:justify;
}
#main aside{
	display:inline-block;
	width:30.6%;
	margin-left:3%;
	margin-bottom:1.563em;
	padding:0em;
	vertical-align:top;
}
#main aside section{
	margin-bottom:1.563em;
	background:#ffffff;
	border-bottom:0.188em solid #e7590B;
}
#main article h2{
	padding:1em 1.8em 1em 1.8em;
}
#main aside section ul {
	padding: 0em 1.875em 1.25em 2.5em;
}
footer{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	display:block;
	background:#2f2d2c;
	text-align:center;
	margin-top:1em;
}
footer ul{
	display:block;
	width:100%;
	max-width:980px;
	text-align:left;
	margin:0px auto;
}
footer ul li{
	display:inline;
	font-size:0.8em;
	line-height:2.8em;
	color:#2ed8d8;
	padding: 0em 0.625em 0em 0.625em;
}
footer ul li a{
	color:#2ed8d8;
}
/*mobile style*/
@media screen and (max-width:800px){
	body{
		font-size:90%;
	}
}
@media screen and (min-width:1600px){
	body{
		font-size:120%;
	}
}
@media screen and (max-width:600px){
	#main aside, #main article{
		width:100%;
		display:block;
		margin:0.625em 0em 0.625em 0em;
	}
}
@media screen and (min-width:550px){
	nav.nav{
		display:block !important; 
	}
}
@media screen and (max-width:550px){
	body{
		font-size:86%;
	}
	#menubar ul li a.menubutton{
		display:block;
	}
	nav{
		display:none;
		height:auto;
	}
	nav ul li {
		display:block;
		margin:0.3em 0em 0.3em 0em;
	}
	iframe{
		position:relative;
		left:25%;
		width:75%;
	}
}
iframe{
	position:relative;
	left:12.5%;
	width:75%;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}